data_management/__pycache__/
drept_civil_dashboard/__pycache__/
db.sqlite3
data_management/migrations/__pycache__/__init__.cpython-36.pyc
data_management/migrations/__pycache__/0001_initial.cpython-36.pyc
data_management/migrations/0001_initial.py
old.db.sqlite3
older.db.sqlite3
drept_civil_dashboard/wsgi.py
drept_civil_dashboard/settings.py
