{% extends 'base.html' %}

{% block style %}

#selectors{
    display: flex; 
    flex-direction: row;
}

{% endblock style %}

#submit-button{
    float:right;
}

{% block content %}
    {% comment %} <h3 class="is-size-3 mb-6"> Adaugă un capitol </h3> {% endcomment %}
    {% if status == "1" %}

    <div class="notification is-danger"> Există deja o întrebare cu acest număr de ordine în acel capitol.</div>
    
    {% elif status == "2" %}

    <div class="notification is-danger"> Răspunsul corect nu poate fi gol. </div>

    {% endif %}
    
    <div class="centered column-arrangement">
        <form action="/manage/questions/add" method="POST">
            {% csrf_token %}
            {{ form.question }}
            <br>
            <div id="selectors">
                <span class="tag is-medium  mx-1 my-1">Capitol</span>
                <div class="select mb-5">
                    {{ form.chapter }}
                </div>
                <span class="tag is-medium ml-6 mr-1 my-1">Autor</span>
                <div class="select mb-5">
                    {{ form.author }}
                </div>
                <span class="tag is-medium ml-6 mr-1 my-1">Răspuns corect</span>
                <div class="select mb-5">
                    {{ form.correct_answer_index }}
                </div>
            </div>
            </div>
            {{ form.order_number }}
            {{ form.answer1 }}
            {{ form.answer2 }}
            {{ form.answer3 }}
            {{ form.answer4 }}
            <input id="submit-button"  class="button is-primary is-medium mx-4 my-4" type="submit" value="Încarcă"/>
        </form>
    </div>

{% endblock content %}

{% block background %}
    <i id="background-icon" class="fas fa-question"></i>
{% endblock background %}