{% extends "base.html"%}

{% block style %}

    #disabled{
        {% comment %} height: 30rem;
        width: 30rem; {% endcomment %}
        max-width: 50rem;
        background: #bdc3c7; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #questionnaires-tile{
        {% comment %} height: 30rem;
        width: 30rem; {% endcomment %}
        max-width: 50rem;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
    } 


    #courses-tile{
        {% comment %} height: 30rem;
        width: 30rem; {% endcomment %}
        max-width: 50rem;
        background-color: #FEE140;
        background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    }

    #chapters-tile{
        {% comment %} height: 28rem;
        width: 30rem; {% endcomment %}
        max-width: 50rem;
        background-color: #08AEEA;
        background-image: linear-gradient(207deg, #08AEEA 0%, #26d182 100%);
    }

    #main-container{
        max-width:100rem;
    }



{% endblock style %}

{% block content %}


<div class="tile is-ancestor has-text-white">
    <div class="tile is-parent is-vertical">
        <div id="disabled" class="tile is-child column-arrangement notification centered">
            <h3 class="is-size-3 has-text-weight-bold"> Întrebări </h3>

            <p class="mb-3 is-size-1 has-text-weight-bold"> {{ question_count }}</p>

            <a href="/view/questions/general" class="button is-size-6 is-white is-outlined" disabled>Vizualizează</a>
        </div>

        <div id="courses-tile" class="tile is-child column-arrangement notification centered">
            <h3 class="is-size-3 has-text-weight-bold"> Lecții </h3>

            <p class="mb-3 is-size-1 has-text-weight-bold"> {{ course_count }}</p>

            <a href="/view/courses/general" class="button is-size-6 is-white is-outlined">Vizualizează</a>
        </div>
    </div>

    <div class="tile is-parent">
        <div id="chapters-tile" class="tile is-child column-arrangement notification is-info centered">
            <h3 class="is-size-3 has-text-weight-bold"> Capitole </h3>

            <p class="mb-3 is-size-1 has-text-weight-bold"> {{ chapters_count }}</p>

            <a href="/view/chapters" class="button is-size-6 is-white is-outlined">Vizualizează</a>
        </div>
    </div>
</div>


{% endblock content %}
