{% extends 'base.html' %}

{% block style %}

    .input{
        width: 30rem;
    }

    .control{
        margin-bottom: 1rem;
    }

{% endblock style %}

{% block content %}


<div class="column-arrangement centered">
    {% if status == "1" %}

    <div class="notification is-danger"> Există deja un capitol cu acest număr de ordine </div>

    {% endif %}

    <form action="/manage/chapters/edit" method="POST">
        {% csrf_token %}
        <div class="centered column-arrangement">
            {% for field in form %}
            <div class="control">
                {{ field }}

                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endfor %}
            <input type="hidden" name="id" value="{{ id }}">
            <input type="submit" class="mt-1 button is-primary" value="Salvează modificările">
        </div>
    </form>
</div>

{% endblock content %}