<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-size-1 has-text-weight-bold">
          Drept civil
      </h1>
    </a>
  </div>

  {% if user.is_authenticated %}
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item is-size-5">
        Pagina principală
      </a>

      <a href="/view/questions/general" class="navbar-item is-size-5">
        Întrebări
      </a>

      <a href="/view/courses/general" class="navbar-item is-size-5">
        Lecții
      </a>

      <a href="/view/chapters" class="navbar-item is-size-5">
        Capitole
      </a>
    </div>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/logout/" class="button is-danger">
          <strong>Log out</strong>
        </a>
      </div>
    </div>

  </div>
  {% endif %}
</nav>