<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-size-3 has-text-weight-bold is-large">
          Drept civil
      </h1>
      {% comment %} <h2 class="subtitle has-text-grey-light has-text-left ml-3">
          {{ user.get_full_name }}
      </h2> 
    </a> {% endcomment %}
  </div>

  {% if user.is_authenticated %}
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Pagina principală
      </a>

      <a href="/view/questions/general" class="navbar-item">
        Întrebări
      </a>

      <a href="/view/courses/general" class="navbar-item">
        Lecții
      </a>

      <a href="/view/chapters" class="navbar-item">
        Capitole
      </a>
    </div>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/logout/" class="button is-danger">
          <strong>Log out</strong>
        </a>
      </div>
    </div>

    {% endif %}
  </div>
</nav>