{% extends "base.html" %}

{% block style %}

.table-cell{
    width: 40rem;
}

{% endblock style %}

{% block content %}

<table class="table is-hoverable is-size-5">
    <thead>
        <tr>
            <th>Nr.</th>
            <th class="table-cell">Capitole</th>
            <th>
                <a href="/view/chapters/add" class="button is-rounded is-primary">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Adaugă un capitol</span>
                </a>
            </th>
        </tr>
    </thead>  
    <tfoot>
    </tfoot>
    <tbody>
        {% for chapter in chapters %}
        <tr>
            <td>{{chapter.order_number}}</td>
            <td>{{chapter.name}}</td>
            <td>
                <button onclick="openConfirmationDialog('{{ chapter.name }}','/manage/chapters/remove?id={{ chapter.chapter_id }}')" class="button is-danger is-small has-text-weight-bold">Șterge</button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="has-text-grey"> Nu există nici un capitol înregistrat</td>
            <td></td>
            <td class="has-text-info"> Apasă aici <i class="fas fa-arrow-up"></i>  </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="confirmation-dialog" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div id="modal-content-container" class="box">
    </div>
  </div>
  {% comment %} <button class="modal-close is-large" aria-label="close"></button> {% endcomment %}
</div>

{% endblock content %}